.hello{
    width: 100%;
    height: 800px;
    background-color: #1F2535;
    color: white;
}

.hello h1{
    width: 50%;
    font-size: 90px;
    text-align: left;
    margin: 0 0 0 50px;
    padding: 200px 0 0;
}

.hello p{
    width: 25%;
    font-size: 25px;
    font-weight: lighter;
    margin: 0 0 100px 50px;
}

.hello a{
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: #1F2535;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 0 0 0 50px;
}