* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  height: 100vh ;
  background-color: rgb(31,36,53);
}

.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 120px 0 120px;
}

.text {
  margin-left: 120px;
  height: 300px;
  width: 27%;
  color: white;
}

.title {
  font-size: 4.5rem;
  margin-bottom: 0;
}

.para {
  font-size: 1.25rem;
  margin-top: 0;
  width: 70%;
}

.btn {
  height: 150px;
}

.awesome {
  width: 150px;
  height: 70px;
  border-radius: 4px;
  font-size: large;
  font-weight: bold;
  margin-left: 120px;
}

.footer {
  height: 400px;
  padding-top: 150px;
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.icon > p {
  color: rgb(150,150,150);
  margin:0;
  padding-top: 10px;
  padding-left: 20px;
}

.icon > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin:0;
  padding-top: 10px;
  padding-left: 20px;
}

.icon {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
