.main-heading {
  font-size: 4.5rem;
  text-align: left;
  margin: 0;
  width: 55%;
}

.main-text {
  margin: 0;
  text-align: left;
  width: 35%;
}

.main-link {
  color: #282c34;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  height: 30px;
  margin-top: 4rem;
  padding: 15px;
  text-decoration: none;
}

.main-img {
  position: relative;
  left: 75%;
}
