#say-hello-framework{
    margin: 0 40px;
}

.say-hello-H2{
    color: white;
    font-size: 100px;
    margin-bottom: 0;
}

.say-hello-H4{
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
}