.features {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.features h2 {
    margin-bottom: 0;
    color: #252739;
    font-size: 1.8rem;
    font-weight: 500;
}

.features p {
    font-size: 1.2rem;
    font-weight: 200;
    width: 175px;
    color: #252739;
}
