.copytop {
  margin-top: 160px;
  color: white;
  width: 450px;
  h1 {
    font-size: 76px;
    line-height: 70px;
    letter-spacing: -1px;
    margin: 0;
  }
  p {
    margin-left: 5px;
    width: 70%;
  }
}
