.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: relative;
  padding-top: 20px;
}

#logo {
  position: absolute;
  left: 0px;
}

#icon {
  position: absolute;
  right: 7vw;
}

 
.top-BG { 
  background-color: #1F2535;
  color: white;
  width: 85vw;
  margin: 0px auto;
  padding-left: 7vw;
  box-sizing: border-box;
  
}


#top-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40vw;
}

.top-BG h1{
  font-size: 5em;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 25vh;
  line-height: 80px;
}

.top-BG p {
  text-align: left;
}

.top-BG a {
  text-align: center;
  padding-top: 20px;
  width: 170px;
  height: 60px;
  background-color: white;
  color: #1F2535;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 80px;
  border-radius: 7px;
}

.top-BG p {
  font-size: 1.5em;
  margin-top: 0px;
  width: 70%;
}


.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 85vw;
  margin: 20vh auto;
}

.Feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15vw;
  text-align: left;
}

.Feature p {
  margin-top: 0px;
  margin-left: 20px;
}

.Feature h4 {
  margin-bottom: 0px;
  margin-left: 20px;
}

