.main {
  background-color: #282c34;
  color: white;
}

.main h1{
  width: 50%;
  font-size: 5vh;
  text-align: initial;
  margin-bottom: 0;
}

.main p {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: initial;
}