.darkzone {
    background-color: #1a2738;
    width: 100%;
    height: 1000px;
}

.container {
    color:white;
    padding-left: 10%;
    padding-top: 10%;
    height: 90%;
}

.container h1 {
    font-size: 8rem;
    line-height: 1.5rem;
}

.container h3 {
    color: rgb(187, 187, 187);
    font-weight: 100;
    font-size: 2.4rem;
    width: 30%;
}

.container button {
    background-color: white;
    border: none;
    height: 100px;
    width: 240px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 600;
}