.ironhack-info{
    /* background-color:#555; */
    /* position:absolute;
    left:0px;
    top:200px;
    height:500px;
    width:300px;
    margin:auto; */
    color:white;
    width:50%;
    text-align:left;
    /* display:flex;
    flex-direction: column;
    justify-content: flex-start; */
}
.ironhack-info h1{
    font-size:3em;
}
.ironhack-info h2{
    font-size:1em;
}

.ironhack-button{
    /* background-color:blue; */
    font-size:1.1rem;
    padding:0.8rem 1rem;
    border-radius: 2%;
    margin-top:1.5rem;
    margin-bottom:1rem;
}